<div
  class="relative my-2 py-4 flex flex-col w-10/12 mx-auto bg-customBlue rounded-lg grid grid-cols-[1fr,3fr]"
>
  <div
    class="bg-slate-200 mx-8 my-2 rounded-lg text-2xl font-semibold flex justify-center align-center"
  >
    <p class="p-4">Total Records Today:</p>
    <p class="self-center pr-4">10</p>
  </div>
  <div
    class="bg-slate-200 mx-8 my-2 rounded-lg text-2xl flex justify-center align-center row-span-3"
  >
    <div class="flex flex-col w-6/12 justify-center align-center">
      <p class="p-4 font-bold self-center">Estimated month end profit</p>
      <p class="p-4 font-extra text-8xl text-center">20%</p>
    </div>
    <div class="w-4/12 py-4">
      <img
        src="../../../assets/line-chart-regular-180.png"
        class="w-full object-cover"
      />
    </div>
  </div>
  <div
    class="bg-slate-200 mx-8 my-2 rounded-lg text-2xl font-semibold flex justify-center align-center"
  >
    <p class="p-4">Total Records This Month:</p>
    <p class="self-center pr-4">50</p>
  </div>
</div>
<div class="mt-12 w-full flex flex-col gap-6">
  <h1 class="ml-14 font-semibold text-2xl">Monthly Stats:</h1>
  <div
    class="w-11/12 rounded-xl mx-auto grid grid-cols-[1fr,3fr,3fr,3fr,3fr,3fr]"
  >
    <p class="py-4 px-6 bg-customBlue font-semibold text-white">S.No</p>
    <p class="py-4 px-6 bg-customBlue font-semibold text-white">Month</p>
    <p class="py-4 px-6 bg-customBlue font-semibold text-white">
      Total records
    </p>
    <p class="py-4 px-6 bg-customBlue font-semibold text-white">
      Revenue Generated
    </p>
    <p class="py-4 px-6 bg-customBlue font-semibold text-white">Deductions</p>
    <p class="py-4 px-6 bg-customBlue font-semibold text-white">Summary</p>

    <!--  -->
    <!--  -->
    <!--  -->
    <div class="col-start-1 col-end-7 grid grid-cols-[1fr,3fr,3fr,3fr,3fr,3fr]">
      <p class="py-2 px-8 bg-slate-200">1</p>
      <p class="py-2 px-8 bg-slate-200">ensiv</p>
      <p class="py-2 px-8 bg-slate-200">ywegiwyef</p>
      <p class="py-2 px-8 bg-slate-200">ywegiwyef</p>
      <p class="py-2 px-8 bg-slate-200">ywegiwyef</p>
      <p class="py-2 px-8 bg-slate-200">ywegiwyef</p>
    </div>
    <div class="col-start-1 col-end-7 grid grid-cols-[1fr,3fr,3fr,3fr,3fr,3fr]">
      <p class="py-2 px-8 bg-slate-200">1</p>
      <p class="py-2 px-8 bg-slate-200">ensiv</p>
      <p class="py-2 px-8 bg-slate-200">ywegiwyef</p>
      <p class="py-2 px-8 bg-slate-200">ywegiwyef</p>
      <p class="py-2 px-8 bg-slate-200">ywegiwyef</p>
      <p class="py-2 px-8 bg-slate-200">ywegiwyef</p>
    </div>
    <div class="col-start-1 col-end-7 grid grid-cols-[1fr,3fr,3fr,3fr,3fr,3fr]">
      <p class="py-2 px-8 bg-slate-200">1</p>
      <p class="py-2 px-8 bg-slate-200">ensiv</p>
      <p class="py-2 px-8 bg-slate-200">ywegiwyef</p>
      <p class="py-2 px-8 bg-slate-200">ywegiwyef</p>
      <p class="py-2 px-8 bg-slate-200">ywegiwyef</p>
      <p class="py-2 px-8 bg-slate-200">ywegiwyef</p>
    </div>
    <div class="col-start-1 col-end-7 grid grid-cols-[1fr,3fr,3fr,3fr,3fr,3fr]">
      <p class="py-2 px-8 bg-slate-200">1</p>
      <p class="py-2 px-8 bg-slate-200">ensiv</p>
      <p class="py-2 px-8 bg-slate-200">ywegiwyef</p>
      <p class="py-2 px-8 bg-slate-200">ywegiwyef</p>
      <p class="py-2 px-8 bg-slate-200">ywegiwyef</p>
      <p class="py-2 px-8 bg-slate-200">ywegiwyef</p>
    </div>
  </div>
  <div class="pagination flex flex-row gap-2 mx-auto">
    <button class="p-1 bg-slate-200 rounded">1</button>
    <button class="p-1 bg-slate-200 rounded">2</button>
    <button class="p-1 bg-slate-200 rounded">3</button>
  </div>
  <p class="mx-auto">Page 1 of 3</p>
</div>
