<div class="flex absolute right-14 top-12 gap-2">
  <p class="font-bold text-md">Greetings Ms.Susmitha!!!</p>
  <button class="w-6 h-6 rounded-lg mt-1" (click)="onClickProfile()">
    <div class="w-4 h-auto mx-auto">
      <img
        src="../../assets/user-solid-72.png"
        alt=""
        class="w-full h-full object-cover"
      />
    </div>
  </button>
</div>

<div class="relative top-16 mt-12 w-full flex flex-col gap-6">
  <div class="w-8/12 flex gap-8 justify-center mx-auto px-2">
    <button
      (click)="onClickEmployees()"
      class="w-2/12 rounded-lg my-2 h-8 text-md bg-white hover:bg-customBlue active:text-lg border border-black"
    >
      Employees
    </button>
    <button
      (click)="onClickCreate()"
      class="w-2/12 rounded-lg my-2 h-8 text-md bg-white hover:bg-customBlue active:text-lg border border-black"
    >
      Create
    </button>
    <button
      (click)="onClickDetails()"
      class="w-2/12 rounded-lg my-2 h-8 text-md bg-white hover:bg-customBlue active:text-lg border border-black"
    >
      Details
    </button>
    <button
      (click)="onClickStatistics()"
      class="w-2/12 rounded-lg my-2 h-8 text-md bg-white hover:bg-customBlue active:text-lg border border-black"
    >
      Statistics
    </button>
  </div>
  <router-outlet></router-outlet>
</div>

<!-- name monile tests amount pending -->
