<div
  class="relative my-2 py-4 flex flex-col w-10/12 mx-auto bg-customBlue rounded-lg"
>
  <p class="w-full text-center my-2 text-2xl text-white">Employee Details:</p>
  <div class="px-auto w-6/12 mx-auto text-white grid grid-cols-2 gap-x-24">
    <p class="px-auto pt-4">Patient Name : oiujhg</p>
    <p class="px-auto pt-4">Mobile Number: dfcgvhbn</p>
    <p class="px-auto pt-4">Email : ikuhjg</p>
    <p class="px-auto pt-4">Gender:fg</p>
    <p class="px-auto pt-4">Joined Date: ghj</p>
    <p class="px-auto pt-4">Department: ghj</p>
  </div>
  <button
    class="w-2/12 rounded-lg mx-auto my-4 h-8 text-md bg-red-400 hover:bg-red-600 active:text-lg border border-black"
  >
    Delete Account
  </button>
</div>
